<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
table,td,tr{
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
}
img {
	display: block;
}


</style>
<script type="text/javascript">
	var pan ="{{pan}}"
	var arr = [];
	function init(){
		var imgs = document.getElementsByTagName("img");	
		 for(var i = 0 ; i<=100 ;i++){
			var a = pan.substr(i,1);
			if(a==1){
				imgs[i].src="/static/1.png";
			}else if (a==2){
				imgs[i].src="/static/2.png";
			}
		 
		 } 
		
		
		
	}
	
</script>


</head>
<body onload="init()">

<table>
	<tr>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
	</tr>
	<tr>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
	</tr>
	<tr>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
	</tr>
	<tr>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
	</tr>
	<tr>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
	</tr>
	<tr>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
	</tr>
	<tr>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
	</tr>
	<tr>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
	</tr>
	<tr>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
	</tr>
	<tr>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
		<td>
			<img src =/static/0.png/>
		</td>
	</tr>
</table>	
</body>
</html>